---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-autoscaling-gardener-cloud-v1alpha1-persistentvolumeclaimautoscaler
  failurePolicy: Fail
  name: vpersistentvolumeclaimautoscaler.kb.io
  rules:
  - apiGroups:
    - autoscaling.gardener.cloud
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - persistentvolumeclaimautoscalers
  sideEffects: None
