apiVersion: autoscaling.gardener.cloud/v1alpha1
kind: PersistentVolumeClaimAutoscaler
metadata:
  labels:
    app.kubernetes.io/name: pvc-autoscaler
    app.kubernetes.io/managed-by: kustomize
  name: persistentvolumeclaimautoscaler-sample
spec:
  targetRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: test-pvc-1
  volumePolicies:
  - maxCapacity: 3Gi
    scaleUp:
      utilizationThresholdPercent: 80
      stepPercent: 10
      minStepAbsolute: 1Gi
