---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: persistentvolumeclaimautoscalers.autoscaling.gardener.cloud
spec:
  group: autoscaling.gardener.cloud
  names:
    kind: PersistentVolumeClaimAutoscaler
    listKind: PersistentVolumeClaimAutoscalerList
    plural: persistentvolumeclaimautoscalers
    shortNames:
    - pvca
    singular: persistentvolumeclaimautoscaler
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.targetRef.name
      name: Target
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          PersistentVolumeClaimAutoscaler is the Schema for the
          persistentvolumeclaimautoscalers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PersistentVolumeClaimAutoscalerSpec defines the desired state
              of the PersistentVolumeClaimAutoscaler.
            properties:
              targetRef:
                description: |-
                  TargetRef specifies the reference to the workload controller (e.g., StatefulSet)
                  whose PVCs will be managed by the autoscaler.
                properties:
                  apiVersion:
                    description: apiVersion is the API version of the referent
                    type: string
                  kind:
                    description: 'kind is the kind of the referent; More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'name is the name of the referent; More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                required:
                - kind
                - name
                type: object
                x-kubernetes-map-type: atomic
              volumePolicies:
                description: VolumePolicies defines a list of policies for autoscaling
                  PVCs.
                items:
                  description: VolumePolicy defines the autoscaling policy for a specific
                    PVC
                  properties:
                    maxCapacity:
                      anyOf:
                      - type: integer
                      - type: string
                      description: |-
                        MaxCapacity specifies the maximum capacity up to which a PVC is
                        allowed to be extended. The max capacity is specified as a
                        [k8s.io/apimachinery/pkg/api/resource.Quantity] value.
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                      x-kubernetes-validations:
                      - message: maxCapacity must be > 0
                        rule: quantity(self).isGreaterThan(quantity('0'))
                    scaleUp:
                      default: {}
                      description: ScaleUp defines the rules for scaling up the PVC.
                      properties:
                        cooldownDuration:
                          description: |-
                            This field is currenntly not used (NOOP), but will be implemented at a later stage.
                            CooldownDuration specifies the duration to wait before another scaling operation.
                          type: string
                          x-kubernetes-validations:
                          - message: cooldownDuration must be > 0s
                            rule: duration(self) > duration('0s')
                        minStepAbsolute:
                          anyOf:
                          - type: integer
                          - type: string
                          default: 1Gi
                          description: |-
                            MinStepAbsolute specifies the minimum absolute change in capacity during scaling.
                            This ensures that the change in capacity is at least this amount, regardless of the percentage.
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                          x-kubernetes-validations:
                          - message: minStepAbsolute must be > 1 if specified
                            rule: self == null || quantity(self).compareTo(quantity('1Gi'))
                              >= 0
                        stepPercent:
                          default: 10
                          description: StepPercent specifies the percentage by which
                            to change the PVC storage capacity when scaling.
                          maximum: 100
                          minimum: 1
                          type: integer
                        utilizationThresholdPercent:
                          default: 80
                          description: |-
                            UtilizationThresholdPercent specifies the threshold percentage for used space and inodes.
                            When the used space or inodes passes this threshold, the PVC is scaled.
                          maximum: 100
                          minimum: 1
                          type: integer
                      type: object
                  required:
                  - maxCapacity
                  type: object
                maxItems: 1
                minItems: 1
                type: array
            required:
            - targetRef
            - volumePolicies
            type: object
          status:
            description: |-
              PersistentVolumeClaimAutoscalerStatus defines the observed state of
              PersistentVolumeClaimAutoscaler
            properties:
              conditions:
                description: Conditions specifies the status conditions.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              lastCheck:
                description: LastCheck specifies the last time the PVC was checked
                  by the controller.
                format: date-time
                type: string
              nextCheck:
                description: |-
                  NextCheck specifies the next scheduled check of the PVC by the
                  controller.
                format: date-time
                type: string
              persistentVolumeClaims:
                description: PersistentVolumeClaims specifies the status of the PVCs
                  managed by the autoscaler.
                items:
                  description: PersistentVolumeClaimStatus defines the observed state
                    of a PVC managed by the autoscaler.
                  properties:
                    currentSize:
                      anyOf:
                      - type: integer
                      - type: string
                      description: CurrentSize specifies the current .status.capacity.storage
                        value of the PVC.
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    name:
                      description: Name specifies the name of the PVC.
                      type: string
                    targetSize:
                      anyOf:
                      - type: integer
                      - type: string
                      description: TargetSize specifies the new size to which the
                        PVC will be resized.
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    usedInodesPercent:
                      description: |-
                        UsedInodesPercent specifies the last observed used inodes of the
                        PVC as a percentage.
                      type: integer
                    usedSpacePercent:
                      description: |-
                        UsedSpacePercent specifies the last observed used space of the PVC
                        as a percentage.
                      type: integer
                  required:
                  - name
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
