name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
      version-commit-callback-action-path: .github/actions/prepare-release
    permissions:
      id-token: write

  sast-lint:
    uses: gardener/cc-utils/.github/workflows/sastlint-ocm.yaml@master
    permissions:
      contents: read
    with:
      setup-git-identity: true
      linter: gosec
      run: |
        set -euo pipefail
        if [ '${{ inputs.mode }}' == 'release' ]; then
          make sast-report
          # generates `gosec-report.sarif
        else
          # tests are run using prow for non-release-runs, so early-exit
          echo "dummy" > gosec-report.sarif
        fi
      go-version: '1.25.5'

  verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - uses: gardener/cc-utils/.github/actions/setup-git-identity@master
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: verify
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p /tmp/blobs.d
          if [ '${{ inputs.mode }}' == 'release' ]; then
            make verify-extended |& tee /tmp/blobs.d/tests-log.txt
            tar czf /tmp/blobs.d/tests-log.tar.gz -C /tmp/blobs.d tests-log.txt
          else
            # tests are run using prow for non-release-runs, so early-exit
            echo "dummy" > /tmp/blobs.d/tests-log.tar.gz
            exit 0
          fi
      - name: add-tests-report-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            name: test-results
            relation: local
            access:
              type: localBlob
              localReference: tests-log.tar.gz
            labels:
              - name: gardener.cloud/purposes
                value:
                  - test

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
      - verify
      - sast-lint
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: pvc-autoscaler
            oci-repository: gardener/pvc-autoscaler
            ocm-labels:
              name: gardener.cloud/cve-categorisation
              value:
                network_exposure: protected
                authentication_enforced: false
                user_interaction: gardener-operator
                confidentiality_requirement: high
                integrity_requirement: high
                availability_requirement: high
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64
      ocm-labels: ${{ toJSON(matrix.args.ocm-labels) }}
      extra-tags: latest
